{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="jumbotron myBackground row" style="padding-bottom: 60px;">
            <div class="col-lg-12">
                <h2 class="gotham text-center">
                    <span class="glyphicon glyphicon-plus"></span>
                    &nbsp; Create Group
                </h2>
                <br>
                <hr class="myhr">
                <br>
                <div class="col-lg-offset-1 col-lg-8">
                    <form class="form-horizontal" action="{% url 'create-group' %}" method="post">
                        {% if create_group_form.non_field_errors %}
                            <div class="row">
                                {% for non_field_error in create_group_form.non_field_errors %}
                                    <small class="err">{{ non_field_error }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% for visible_field in create_group_form.visible_fields %}
                            <div class="form-group">
                                {% for error in visible_field.errors %}
                                    <small class="err">{{ error }}</small>
                                {% endfor %}
                                <label class="col-md-5 control-label">{{ visible_field.label_tag }}</label>
                                <div class="col-md-6">{{ visible_field }}</div>
                                <div class="col-md-1"></div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-6">
                                <input type="submit" class="btn btn-primary btn-block" value="Submit"/>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}